:root{
}

.navbar {
    background-color: #F9DF84;
    font-family: 'Comic Sans MS';
}

.navbar-brand{
    color: black;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
body {
  
}
footer {
    background: #001219;
    padding: 20px;
    color: white;
    margin-top: 40px;
}